body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: center;
  background: #735432;
}

.container, .maps, .desc {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
  border-radius: 25px;
}

.heading {
  color: #f2f5f7;
  font-size: 28pt;
  margin-top: 60px;
  text-shadow: 3px 3px #503d2b;
}

.desc {
  background-color: #f2f5f7;
  margin: 30px 11vw 30px 11vw;
  width: 70vw;
  max-width: 1000px;
  overflow: auto;
  padding: 20px 40px 20px 40px;
  box-sizing: border-box;
}

#viewDiv {
  position: relative;
  height: 75vh; max-height: 800px; width: 70vw; max-width: 1000px;
  border-radius: 25px;
  border: 5px solid #f2f5f7;
  box-sizing: border-box;
}

canvas {
  border-radius: 20px;
}

div.esri-legend__layer-caption {
  display:none;
}

.esri-attribution__sources > .esri-interactive {
  border-bottom-left-radius: 15px;
}
div.esri-attribution__powered-by {
  border-bottom-right-radius: 15px;
}

p {
  font-size: 13pt;
  color: #503d2b;
  line-height: 1.5;
}

footer p {
  color: #f2f5f7;l
}

.pageBtn {
  background-color: #D88373;
  border-radius: 3.125em;
  padding: 0 15px 0 15px;
  margin-bottom: 10px;
}

a {
  color: #df4700;
  text-decoration: none;
}

a:hover.pageBtn {
  background-color: #c76c5a;
  transition: all 0.5s ease 0s;
}
a.pageBtn:hover > p {
  color: #000000;
  transition: all 0.5s ease 0s;
}
